*{
	margin: 0px;
	
}

body{
	background: url(../img/bg.jpeg);
	background-size: cover;
}
.container{
	width: 1140px;
	
	margin: 0 auto;

}
img {
	margin: 0 auto;
	display: block;
	padding: 10%;
}
.login-form{
    margin-top: -100px;
}
.form{
    display: inherit;
    margin: 0 auto;
    padding: 10px 25px;
    border-radius: 15px;
    margin-bottom: 10px;
    border-color: green;
}
.btn{
	    margin: 0 auto;
    display: block;
    padding: 10px 25px;
    border-radius: 15px;
    border-color: green;
    margin-top: 10px;
}